include LICENSE
include README.rst
recursive-include tables_cleaner/static *
recursive-include tables_cleaner/templates *
recursive-include tables_cleaner/management *
recursive-include tables_cleaner/migrations *
